ul li a{
  border-bottom: 3px solid transparent;
}
ul li a:hover{
  /* background-color: #06d9fa; */
  border-bottom: 3px solid black;
  color: white;
}
ul li{
  margin-left: 10px;
}
.register a{
  color: black;
}
