<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand"[routerLink]="['/']">Contact Managment System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/phone']">Contact List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/test']">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/about']">About Us</a>
        </li>
      </ul>
    </div>
    <div *ngIf="token" class="d-flex left">
      <a class="a" (click)="logOut()">Logout</a>
    </div>
  </div>
</nav>
<!-- Navbar End -->
<!-- main content START  -->
<div class="container mt-3">
  <div class="col-md-10 m-auto">
    <div class="card">
      <div class="card-header">Contact Details</div>
      <div class="card-body">
        <table class="table table-striped">
          <tr>
            <td colspan="50" class="text-center">
              <img class="img shadow" src="../../../assets/img/d.png" alt="" srcset="">
            </td>
          </tr>
          <tr>
            <th>User Id</th>
            <td>{{user.id}} </td>
          </tr>
          <tr>
            <th>Use Name</th>
            <td>{{user.username}}  </td>
          </tr>
          <tr>
            <th>First name</th>
            <td>{{user.firstName}}  </td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>{{user.lastname}}  </td>
          </tr>
          <tr>
            <th>Age</th>
            <td>{{user.age}}  </td>
          </tr>
          <tr>
            <th>Salary</th>
            <td>{{user.salary}}  </td>
          </tr>
          <tr>
            <th>Created</th>
            <td>{{user.created}} </td>
          </tr>
          <tr>
            <td colspan="50">  <button class="btn btn-info" (click)='back()'>Back</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- main content End  -->
